@import '../../../styles/Variables.scss';

#accountPage {
  .ui.menu {
    border-left: 5px solid $brand-brown;
  }

  .user-fullname {
    text-transform: uppercase;
    font-weight: bolder;
    color: $brand-brown;
  }
}
