@import 'Variables';

#signin-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  .top-left-gradient {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(135deg, #ff9d2f, #ff6126);
    clip-path: polygon(0 10%, 100% 10%, 0 90%, 0 10%);
    z-index: 1;
  }

  .bottom-right-gradient {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(135deg, #aaa, #d2691e);
    clip-path: polygon(100% 10%, 100% 90%, 0 90%, 100% 10%);
  }

  .authenticate-form {
    width: 400px;
    margin: 10vh auto;
    border: 1px solid black;
    background: linear-gradient(135deg, #aaa, #d2691e, #ff9d2f);
  }
}

#landing-survivor-background {
  height: 100vh;
  width: 100%;
  background: url('https://wallpapercave.com/wp/wp5083769.jpg') no-repeat center
    center;
  background-size: cover;

  .overlay {
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .content {
    background: rgba(0, 0, 0, 0.6);
    margin: 10vh auto;
    padding: 25px;
    margin-left: 70%;
  }
}
