@import 'Variables';

#landing-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .background-image {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: url('https://wallpapercave.com/wp/wp5083769.jpg') no-repeat;
    background-position: -20vw center;
    background-size: 120vw 100vh;
    // clip-path: ellipse(100% 100% at 0% 0%);
  }

  .overlay {
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .authenticate-form {
    width: 400px;
    margin-right: 50px;
    border: 1px solid black;
    background: linear-gradient(135deg, #aaa, #d2691e, #ff9d2f);

    .form-label {
      font-size: 13px;
      position: absolute;
      top: -10px;
      left: calc(50% - 183.5px);
      padding: 0 5px;
      // background: transparent;
      background: linear-gradient(#aaa, #fff);
      z-index: 50;
    }
  }
}
