.landing-modal {
  .landing-modal-button {
    width: 270px;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .landing-parchment {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .modal-button-text {
      font-size: 17px;
      font-weight: bold;
      text-transform: uppercase;
      background: -webkit-linear-gradient(135deg, red, green, blue);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.modal-dialog {
  max-width: 430px !important;
}

.modal-body-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  .authenticate-form {
    width: unquote('min(90vw, 400px)');
  }
}
