@import '../../../styles/Variables';
@import '../../../styles/HelperMethods';

#userDashboard {
  .avatar-placeholder,
  .user-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $brand-brown;
    position: relative;
    margin: auto;
  }

  .avatar-placeholder-wrapper,
  .user-avatar-wrapper,
  .user-basic-info {
    padding-top: 20px;
  }

  .user-icon {
    font-size: 160px;
    margin-bottom: 10px;
    color: white;
  }

  .user-basic-info {
    white-space: pre-wrap;
  }

  .user-identifier {
    color: $brand-brown;
    font-size: 30px;
    font-weight: bold;
  }

  .user-identifier,
  .user-email {
    text-align: center;
  }

  p {
    font-size: 18px;
    color: $brand-brown;
    font-weight: bold;
  }

  .user-bio {
    border-left: 6px solid $brand-brown;
    padding-left: 15px;
    margin-top: 30px;
  }

  #questionsAnswersBoard {
    hr {
      margin: 50px 0 15px 0;
    }
    .heading-title {
      font-size: 50px;
      color: $brand-brown;
      font-family: 'Lobster', Helvetica, Arial, sans-serif;
      word-spacing: 5px;
      width: fit-content;
      margin: 0;

      @include resize(null, $md-max) {
        font-size: 25px;
      }
    }

    .questionAnswerGroup {
      border: 1px solid $brand-brown;
      box-shadow: 4px 4px 8px $brand-dark-brown;
      margin: 20px 0;
      padding: 20px 25px;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.07);
      }
    }

    .question {
      font-weight: bold;
    }

    .answer {
      font-weight: normal;
      border-left: 5px solid $brand-with-opacity-brown;
      padding-left: 10px;
    }
  }
}
