@import '../../../styles/Variables.scss';

#userProfile {
  .heading-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: $brand-brown;
    margin: 50px 0 25px 0;
    border-bottom: 6px solid $brand-brown;
    padding: 10px 25px;
    background: linear-gradient(90deg, #f1f1f1 20%, $brand-brown 80%);
    border-radius: 18px;

    &:hover {
      background: #e3e3e3;
    }
  }

  .submitProfileButton {
    padding: 10px 0;
    height: 50px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }
}
