@import '../../styles/Variables';
@import '../../styles/HelperMethods';

.authenticate-form {
  background: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px 15px 20px 15px;
  max-width: 400px;
  text-align: center;
  z-index: 100;
}

.other-account-action {
  background: white;
  border: 1px solid #d8dee2;
  border-radius: 5px;
  margin-top: 15px;
  padding: 15px 15px 0 15px;

  p {
    display: inline-block;
  }
}

.form-group {
  position: relative;
  input:focus::placeholder,
  textarea:focus::placeholder {
    visibility: hidden;
  }
  margin-bottom: 1.5rem;

  input.form-control {
    padding: 1.375rem 0.75rem;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

.form-label {
  font-size: 13px;
  position: absolute;
  top: -10px;
  padding: 0 5px;
  background: #fff;
  z-index: 50;

  @include resize(null, 399px) {
    left: calc(50% - 125px);
  }

  @include resize(400px, $xs-max) {
    left: calc(50% - 150px);
  }

  @include resize($sm-min, null) {
    left: calc(50% - 172px);
  }
}

.signInLineBreak {
  position: relative;

  div {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -10px;
    left: 0;
  }
  p {
    text-align: center;
    width: fit-content;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
  }
}
